.mudacor{
    width: 600px;
    height: 600px;
    
}

@media screen and (max-width: 1920px){
    .mudacor{
        background-color: yellow;

    }
    
    .mudacor h1:after {
        content: "AMARELﾃグ LINDO";

    }

}
    @media screen and (max-width: 1366px){
        .mudacor{
            background-color: purple;
    
        }
        
        .mudacor h1:after {
            content: "ROXﾃグ TOP";
    
        }
    }
    @media screen and (max-width: 1080px){
            .mudacor{
                background-color: red;
        
            }
            
            .mudacor h1:after {
                content: "VERMELHO MALUCO";
        
            }
        }
    @media screen and (max-width: 1024px){
                    .mudacor{
                        background-color: magenta;
                
                    }
                    
                    .mudacor h1:after {
                        content: "MAGENTA EITA";
                
                    }
                }
    @media screen and (max-width: 768px){
                        .mudacor{
                            background-color:orange;
                    
                        }
                        
                        .mudacor h1:after {
                            content: "LARANJﾃグ ﾃグ";
                    
                        }  
                    }      
     @media screen and (max-width: 420x){
                            .mudacor{
                                background-color: gray;
                        
                            }
                            
                            .mudacor h1:after {
                                content: "CINZAO CINZENTO";
                            }
                        }
                      